<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loki.btmanage.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.loki.btmanage.pojo.Role">
        <id column="id" property="id" />
        <result column="rname" property="rname" />
        <result column="name" property="name" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, rname, name
    </sql>

    <!-- 根据用户id查询角色列表 -->
    <select id="getRoles" resultType="com.loki.btmanage.pojo.Role">
        SELECT
            r.id,
            r.`rname`,
            r.name
        FROM
            t_role AS r
            LEFT JOIN t_user_role AS ur ON r.id = ur.rid
        WHERE
            ur.uid = #{uid}
    </select>

</mapper>
